* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1.125rem;
}

h1, h2, h3 {
  margin: 0;
}

.max-width-wrapper {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 24px;
}

.intro-chunk {
  padding: 64px 0;
  max-width: 400px;
}

.intro-chunk p {
  font-size: 1.25rem;
}

.intro-chunk .title {
  font-size: 2rem;
  margin-bottom: 32px;
}

main {
  background-color: hsl(0deg, 0%, 60%);
  border-top: 8px solid hsl(0deg, 0%, 30%);
  padding: 96px 0;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.card {
  max-width: 550px;
  margin: -24px;
  padding: 24px;
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 30%);
}

.indented-heading {
  width: fit-content;
  margin-left: -32px;
  padding: 16px 32px;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}